* {
    margin: 0;
    padding: 0;
}

body {
    background: #defaf6;
}

/* Navigation bar */

.main-header {
    background: #3f126b;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #270647;
    font-family: 'Assistant', sans-serif;
    box-shadow: 0 3px 7px;
}

#nav-div {
    font-size: 15px;
    color: #defaf6;
    text-align: right;
}

#nav-div a {
    text-decoration: none;
    color: #dfd8d3;
    opacity: 0.8;
    transition: 1.2s;
}

#nav-div a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
}

#second-nav-div {
    font-size: 15px;
    color: #defaf6;
    text-align: left;
}

#second-nav-div a {
    text-decoration: none;
    color: #defaf6;
    opacity: 0.8;
    transition: 1.2s;
}

#second-nav-div a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
}

#header {
    text-align: left;
    font-size: 45px;
    padding: 30px 0 10px 0;
}

/* Main page */

.main-article {
    
}

h3 {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0 0 0;
    font-family: 'Assistant', sans-serif;
}

/* Section - about author */

.first-section #about-me{
    font-size: 18px;
    margin: 0 auto;
    padding: 50px;
    text-align: left;
    font-family: 'Assistant', sans-serif;  
}

/* Section of sample photos */

#sample-photos {
    display: grid;
    height: 100%;
}

#sample-photos img {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100vh;
    margin: 40px auto;
}

#sample-photos a {
    margin: 0 auto;
    padding: 3px;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
    font-size: 13px;
    font-family: 'Assistant', sans-serif;
    transition: 1.2s;
}

#sample-photos a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
    background-color: #defaf6;
}

/* Footer */

.main-footer {
    background: #3f126b;
    margin: 0 auto;
    padding: 20px 0 100px 0;
    border: 2px solid #270647;
    text-align: center;
    font-size: 20px;
    color: #defaf6;
    font-family: 'Assistant', sans-serif;
}

.main-footer p {
    opacity: 0.8;
}

.main-footer a {
    color: black;
    text-decoration: none;
    color: #defaf6;
    transition: 1.2s;
}

.main-footer a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
}

.separator {
    color: #9c0022;
    font-size: 25px;
    padding: 0 3px;
}

/* Footer other pages links nad icons */

#my-other-pages {
    opacity: 0.7;
}

#my-other-pages:hover {
    opacity: 1;
    transform: scale(1.5);
}

/* HR */

hr {
    color: #9c0022;
    margin: 10px 25px;
    border-bottom: 1px solid #9c0022;
}