* {
    margin: 0;
    padding: 0;
}

body {
    background: #defaf6;
}

/* Navigation bar */

.main-header-violet {
    background: #3f126b !important;
    padding: 45px 45px 10px 45px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 3px 7px;
}

.main-header {
    padding: 45px 45px 10px 45px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 3px 7px;
    background-image: url(/images/nav-bar-img.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
}


#header {
    text-align: left;
    font-size: 45px;
    padding: 30px 0 10px 0;
}

#nav-div,
#second-nav-div {
    font-size: 15px;
    color: #defaf6;
    text-align: right;
}

#second-nav-div {
    text-align: left;
}

#nav-div a,
#second-nav-div a {
    text-decoration: none;
    color: #defaf6;
    transition: 1.2s;
    opacity: 0.8;
}

#nav-div a:hover,
#second-nav-div a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
}

/* Main page */

h3 {
    font-size: 22px;
    text-align: center;
    padding: 5px 0 45px 0;
    font-family: 'Raleway', sans-serif;
}

/* Section - about author, nature page */

.first-section #about-me, #why-nature{
    font-size: 18px;
    padding: 20px 50px;
    text-align: left;
    font-family: 'Raleway', sans-serif;  
}

/* Section of sample photos - for all pages*/

#sample-photos .slide{
    display: grid;
    height: 100%;
}

#sample-photos img {
    border-radius: 15%;
    max-width: 95%;
    max-height: 100vh;
    margin: 10px auto;
    box-shadow: 0px 7px 25px #3f126b;
}

#sample-photos a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin: 10px auto 30px;
    padding: 10px 5px;
    font-size: 15px;
    color: #defaf6;
    background-color: #3f126b;
    box-shadow: 0px 2px 10px;
    transition: 1s;
}

#sample-photos a:hover {
    color: #defaf6;
    background-color: #7741ab;
    border-radius: 50%;
    transition: 1s;
}

/* Section of full resolution page */

.full-resolution-photo img {
    width: 100%;
    margin: 50px auto;
    box-shadow: 0px 7px 25px;
}

/* Scroll up button */

.back-to-top {
    margin: 50px 0 50px 15px;
    width: 40%;
}

.back-to-top a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
    color: #defaf6;
    background-color: #3f126b;
    box-shadow: 0px 2px 10px;
}

.back-to-top a:hover {
    color: #defaf6;
    background-color: #7741ab;
    border-radius: 50%;
    transition: 1s;
}

/* Footer */

.main-footer-violet {
    background: #3f126b;
    margin: 50px auto 0;
    border: 2px solid #270647;
    text-align: center;
    font-size: 20px;
    color: #defaf6;
    font-family: 'Raleway', sans-serif;
}

.main-footer {
    margin: 50px auto 0;
    border: 2px solid #270647;
    text-align: center;
    font-size: 20px;
    color: #defaf6;
    font-family: 'Raleway', sans-serif;
    background-image: url(/images/footer-img.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
}

.main-footer a,
.main-footer-violet a {
    color: black;
    text-decoration: none;
    color: #defaf6;
    transition: 1.2s;
}

.main-footer a:hover,
.main-footer-violet a:hover {
    color: #9c0022;
    opacity: 1;
    transition: 1.2s;
}

#footer-text {
    text-align: left;
    padding: 0 0 0 10px;
}

.separator {
    color: #9c0022;
    font-size: 25px;
    padding: 0 3px;
}

/* Footer other pages links nad icons */

#instagram-button,
#facebook-icon {
    opacity: 0.9;
    width: 30px;
    height: 30px;
    transition: 1s;
    align-content: center;
    padding: 15px 8px 80px 0;
}

#instagram-button:hover,
#facebook-icon:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s;
}

/* HR */

hr {
    color: #9c0022;
    margin: 25px 30px;
    border-bottom: 1px solid #9c0022;
}

.hr {
    color: #9c0022;
    margin: 100px 18%;
    border-bottom: 1px solid #9c0022;
}

/* Tree test */

.tree {
    position: fixed;
    opacity: 0.4;
}